<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>zh-Hans</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>pola</string>
    <key>CFBundleExecutable</key>
    <string>pola</string>
    <key>CFBundleIconFile</key>
    <string>Pola</string>
    <key>CFBundleIconName</key>
    <string>Pola</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.zetaloop.pola</string>
    <key>CFBundleName</key>
    <string>pola</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>@VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@VERSION@</string>
    <key>LSMinimumSystemVersion</key>
    <string>27.0</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>pola uses System Events to switch between light and dark appearance.</string>
</dict>
</plist>
